body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: grey;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
   background-color: greenyellow;
}
#startBtn:hover{
    background-color: green;
}
#stopBtn{
    background-color: red;
}
#stopBtn:hover{
    background-color: brown;
}
#resetBtn{
    background-color: blue;
}
#resetBtn:hover{
    background-color: navy;
}